// Navigation Styles here

header {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    

    .navigation {
        a {
            padding-left: 2rem;
            text-decoration: none;
            color: @shark;
            font-size: 1.8rem;
        }
    }
}